<form [formGroup]="personForm" >
    <section fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card fxFlex="500px" fxFlex.xs="100%">
            <mat-card-title>Create a new owner</mat-card-title>
            <mat-card-content>
                <label>PERSON COMPONENT OOOME</label>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Input" >
                    </mat-form-field>
                
                    <mat-form-field>   
                        <textarea matInput placeholder="Textarea"></textarea>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                
            </mat-card-actions>
        </mat-card>
    </section>
</form>